<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5GX5oxRwTvRNDZ259Wl6f2jez1q7NOdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>934610379117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nicholascandello.Nomad</string>
	<key>PROJECT_ID</key>
	<string>nomad-87019</string>
	<key>STORAGE_BUCKET</key>
	<string>nomad-87019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934610379117:ios:41d0efbff3da0d22587a64</string>
</dict>
</plist>