<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseInAppMessagingAutomaticallyDisplayMessages</key>
	<false/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need access to speech recognition to transcribe your voice</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone for speech recognition</string>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1Ijoidmlnc2sxNyIsImEiOiJjbTE4cWN5a2IxN29vMmxwemk3OXMycmZqIn0.oNoWSTSnQglUiJKJVaFyKA</string>
</dict>
</plist>
